body {
    font-family: Arial, Helvetica, sans-serif;
}
#logo {
    float : left;
}
#titre {
    color : rgb(201,146,62);
    font-size : 48px;
    margin-top : 60px;
    margin-bottom: 0;
}
#home {
    float : right;
    margin-right : 40px;
    list-style-type: none;
}
#about {
    float : right;
    list-style-type: none;
    margin-right : 40px;

}
#search {
    background-color:rgb(201,146,62);
    color: white;
    border: none;
}
#filtre {
    margin-left: 16px;
}
#annees {
    margin-left : 16px;
}
#frm {
    float: left;
}
#vins {
    list-style-type: none;
}